
<!DOCTYPE html>

@using WebApplication6.Models;

@model List<myevent>
<html>
<head>
    <script src="~/js/checkfields.js">
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>signin</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet.css"/>
</head>
<body>
    <heading2>REMOVE EVENT HERE</heading2>
    <div>
        <styling>
            <table border="1">
                <thead><tr><td>Event ID</td> <td>Name</td> <td>Catergory</td><td>Date </td></thead>

                @foreach (myevent E in Model)
                {
                    <tr>
                        <td>@E.eventid</td>

                        <td>@E.name</td>

                        <td>/@E.category</td>

                        <td>@E.date</td>

                    </tr>
                    <br />
                    <br />
                }

            </table>
        </styling>
        <form method="post" onsubmit="return addEventCheck();" action="./authenticate7">
            <fieldset class="outerrec">
                <div class="inputlabel" id="f">

                    <br />
                    <label> Event Id:</label> <br />
                    <br />
                    <enter>
                        <select name="id">

                            @foreach (myevent E in Model)

                            {
                                <option value="@E.eventid">@E.eventid</option>
                            }

                        </select>
                    </enter>
                </div>
                <br />



                <enter>
                    <input type="submit" id="loginButton" value="Remove" /> <label id="status"></label>
                </enter>
                <br />
                <br />
            </fieldset>
        </form>

    </div>
    <form method="post" onsubmit="return checkForFieldsSignIn();" action="./authenticate12">
        <logout>

            <enter>
                <input type="submit" id="returnButton" value="RETURN" onclick="checkforemptyfields()">    <label id="status"></label>
            </enter>


        </logout>

    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



</body>
</html>
